body {
    background-color: #111;
    color: #CFC;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.wrapper {
    /* Center children horizontally */
    max-width: 800px;
    width: 60%;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
}

.buttons {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.control {
    border: none;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 8px;
}

#canvas {
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    object-fit: contain;
    background-color: #000;
    border: 1px solid #333;
}

#code {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #222;
    /*remove border*/
    color: #BDB;
    min-height: 100px;
    font-family: monospace;
    font-size: 2em;
    resize: vertical;
    outline: 0;
    border: 1px solid #CCC;
}

#code:focus {
    border: 2px solid #CFC;
    outline: green;
}
